In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv("Mall_Customers.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
CustomerID                200 non-null int64
Genre                     200 non-null object
Age                       200 non-null int64
Annual Income (k$)        200 non-null int64
Spending Score (1-100)    200 non-null int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [5]:
data

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [7]:
X=data.iloc[:,1:4].values

In [8]:
y=data.iloc[:,4]

In [9]:
print(X)

[['Male' 19 15]
 ['Male' 21 15]
 ['Female' 20 16]
 ['Female' 23 16]
 ['Female' 31 17]
 ['Female' 22 17]
 ['Female' 35 18]
 ['Female' 23 18]
 ['Male' 64 19]
 ['Female' 30 19]
 ['Male' 67 19]
 ['Female' 35 19]
 ['Female' 58 20]
 ['Female' 24 20]
 ['Male' 37 20]
 ['Male' 22 20]
 ['Female' 35 21]
 ['Male' 20 21]
 ['Male' 52 23]
 ['Female' 35 23]
 ['Male' 35 24]
 ['Male' 25 24]
 ['Female' 46 25]
 ['Male' 31 25]
 ['Female' 54 28]
 ['Male' 29 28]
 ['Female' 45 28]
 ['Male' 35 28]
 ['Female' 40 29]
 ['Female' 23 29]
 ['Male' 60 30]
 ['Female' 21 30]
 ['Male' 53 33]
 ['Male' 18 33]
 ['Female' 49 33]
 ['Female' 21 33]
 ['Female' 42 34]
 ['Female' 30 34]
 ['Female' 36 37]
 ['Female' 20 37]
 ['Female' 65 38]
 ['Male' 24 38]
 ['Male' 48 39]
 ['Female' 31 39]
 ['Female' 49 39]
 ['Female' 24 39]
 ['Female' 50 40]
 ['Female' 27 40]
 ['Female' 29 40]
 ['Female' 31 40]
 ['Female' 49 42]
 ['Male' 33 42]
 ['Female' 31 43]
 ['Male' 59 43]
 ['Female' 50 43]
 ['Male' 47 43]
 ['Female' 51 44]
 ['Male' 69 44]
 ['Female' 27 46]
 ['Male' 53 46]
 ['Male' 70 46]
 ['Male' 19 46]
 ['Female' 67 47]
 ['Female' 54 47]
 ['Male' 63 48]
 ['Male' 18 48]
 ['Female' 43 48]
 ['Female' 68 48]
 ['Male' 19 48]
 ['Female' 32 48]
 ['Male' 70 49]
 ['Female' 47 49]
 ['Female' 60 50]
 ['Female' 60 50]
 ['Male' 59 54]
 ['Male' 26 54]
 ['Female' 45 54]
 ['Male' 40 54]
 ['Female' 23 54]
 ['Female' 49 54]
 ['Male' 57 54]
 ['Male' 38 54]
 ['Male' 67 54]
 ['Female' 46 54]
 ['Female' 21 54]
 ['Male' 48 54]
 ['Female' 55 57]
 ['Female' 22 57]
 ['Female' 34 58]
 ['Female' 50 58]
 ['Female' 68 59]
 ['Male' 18 59]
 ['Male' 48 60]
 ['Female' 40 60]
 ['Female' 32 60]
 ['Male' 24 60]
 ['Female' 47 60]
 ['Female' 27 60]
 ['Male' 48 61]
 ['Male' 20 61]
 ['Female' 23 62]
 ['Female' 49 62]
 ['Male' 67 62]
 ['Male' 26 62]
 ['Male' 49 62]
 ['Female' 21 62]
 ['Female' 66 63]
 ['Male' 54 63]
 ['Male' 68 63]
 ['Male' 66 63]
 ['Male' 65 63]
 ['Female' 19 63]
 ['Female' 38 64]
 ['Male' 19 64]
 ['Female' 18 65]
 ['Female' 19 65]
 ['Female' 63 65]
 ['Female' 49 65]
 ['Female' 51 67]
 ['Female' 50 67]
 ['Male' 27 67]
 ['Female' 38 67]
 ['Female' 40 69]
 ['Male' 39 69]
 ['Female' 23 70]
 ['Female' 31 70]
 ['Male' 43 71]
 ['Male' 40 71]
 ['Male' 59 71]
 ['Male' 38 71]
 ['Male' 47 71]
 ['Male' 39 71]
 ['Female' 25 72]
 ['Female' 31 72]
 ['Male' 20 73]
 ['Female' 29 73]
 ['Female' 44 73]
 ['Male' 32 73]
 ['Male' 19 74]
 ['Female' 35 74]
 ['Female' 57 75]
 ['Male' 32 75]
 ['Female' 28 76]
 ['Female' 32 76]
 ['Male' 25 77]
 ['Male' 28 77]
 ['Male' 48 77]
 ['Female' 32 77]
 ['Female' 34 78]
 ['Male' 34 78]
 ['Male' 43 78]
 ['Male' 39 78]
 ['Female' 44 78]
 ['Female' 38 78]
 ['Female' 47 78]
 ['Female' 27 78]
 ['Male' 37 78]
 ['Female' 30 78]
 ['Male' 34 78]
 ['Female' 30 78]
 ['Female' 56 79]
 ['Female' 29 79]
 ['Male' 19 81]
 ['Female' 31 81]
 ['Male' 50 85]
 ['Female' 36 85]
 ['Male' 42 86]
 ['Female' 33 86]
 ['Female' 36 87]
 ['Male' 32 87]
 ['Male' 40 87]
 ['Male' 28 87]
 ['Male' 36 87]
 ['Male' 36 87]
 ['Female' 52 88]
 ['Female' 30 88]
 ['Male' 58 88]
 ['Male' 27 88]
 ['Male' 59 93]
 ['Male' 35 93]
 ['Female' 37 97]
 ['Female' 32 97]
 ['Male' 46 98]
 ['Female' 29 98]
 ['Female' 41 99]
 ['Male' 30 99]
 ['Female' 54 101]
 ['Male' 28 101]
 ['Female' 41 103]
 ['Female' 36 103]
 ['Female' 34 103]
 ['Female' 32 103]
 ['Male' 33 113]
 ['Female' 38 113]
 ['Female' 47 120]
 ['Female' 35 120]
 ['Female' 45 126]
 ['Male' 32 126]
 ['Male' 32 137]
 ['Male' 30 137]]

In [10]:
print(y)

0      39
1      81
2       6
3      77
4      40
       ..
195    79
196    28
197    74
198    18
199    83
Name: Spending Score (1-100), Length: 200, dtype: int64