Choose the k number of neighbour->                                                                                          
take the k nearest neighbour of the data point->                                                                          
among these neighbour count the number of data points in each category->                                                    
assign new data point to the category where you counted most neighbour

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("Social_Network_Ads.csv")

In [3]:
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [4]:
X=data.iloc[:,0:2]
y=data.iloc[:,2]

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.25, random_state=2)

In [7]:
print(X_train)

     Age  EstimatedSalary
276   38            71000
251   37            52000
29    31            18000
109   38            80000
244   41            72000
..   ...              ...
299   46           117000
22    48            41000
72    20            23000
15    29            80000
168   29           148000

[300 rows x 2 columns]

In [8]:
print(X_test)

     Age  EstimatedSalary
94    29            83000
32    21            16000
225   37            53000
157   29            75000
356   54            70000
..   ...              ...
173   34            43000
12    20            86000
13    32            18000
151   41            45000
312   38            50000

[100 rows x 2 columns]

In [10]:
print(y_train)

276    0
251    0
29     0
109    0
244    0
      ..
299    1
22     1
72     0
15     0
168    1
Name: Purchased, Length: 300, dtype: int64

In [12]:
print(y_test)

94     0
32     0
225    0
157    0
356    1
      ..
173    0
12     0
13     0
151    0
312    0
Name: Purchased, Length: 100, dtype: int64