In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("data.csv")

In [3]:
data.head(10)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [4]:
X=data.iloc[:,0:3].values
Y=data.iloc[:,-1].values
print(X)
print(Y)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]
['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [5]:
# Taking care of the missing data by replacing it with the mean of the coloumn using sklearn preprocessing

In [6]:
from sklearn.preprocessing import Imputer
imputer=Imputer(missing_values="NaN",strategy="mean",axis=0)
imputer=imputer.fit(X[:,1:3])  #.fit to indicate where to fit the data
(X[:,1:3])=imputer.transform(X[:,1:3]) 
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

F:\anaconda\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [7]:
# as we need numbers to process the data so we encode the categorical data to the numerimical data by using LabelEncoder class

In [8]:
from sklearn.preprocessing import LabelEncoder
labencx=LabelEncoder()
X[:,0]=labencx.fit_transform(X[:,0])
print(X)

[[0 44.0 72000.0]
 [2 27.0 48000.0]
 [1 30.0 54000.0]
 [2 38.0 61000.0]
 [1 40.0 63777.77777777778]
 [0 35.0 58000.0]
 [2 38.77777777777778 52000.0]
 [0 48.0 79000.0]
 [1 50.0 83000.0]
 [0 37.0 67000.0]]

In [9]:
# we do not use label encoder as it labels the above data as 0,1,2 and ML algo thinks they are arranged by comparing so we encode the data with OneHotEncoder

In [10]:
#OneHotEncoder labels the data which is true as 1 and others as 0 as follows

In [11]:
#from sklearn.preprocessing importf OneHotEncoder
#onehotenc=OneHotEncoder(categorical_features=[0])
#X=onehotenc.fit_transform(X).toarray()

In [12]:
from sklearn.preprocessing import ColumnTransformer
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X))
X

ImportError: cannot import name 'ColumnTransformer' from 'sklearn.preprocessing' (F:\anaconda\lib\site-packages\sklearn\preprocessing\__init__.py)