In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv("Datalr.csv")

In [4]:
data.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [5]:
X=data.iloc[:,0:4].values
y=data.iloc[:,4].values

In [6]:
print(X)

[[  14.96   41.76 1024.07   73.17]
 [  25.18   62.96 1020.04   59.08]
 [   5.11   39.4  1012.16   92.14]
 ...
 [  31.32   74.33 1012.92   36.48]
 [  24.48   69.45 1013.86   62.39]
 [  21.6    62.52 1017.23   67.87]]

In [11]:
print(y)
y=y.reshape(len(y),1)

[463.26 444.37 488.56 ... 429.57 435.74 453.28]

In [12]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
ss_X=ss.fit_transform(X)
ss_y=ss.fit_transform(y)

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
plr=PolynomialFeatures()
X_poly=plr.fit_transform(X_train)
lr=LinearRegression()
lr.fit(X_poly,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [20]:
y_pred=lr.predict(plr.transform(X_test))

In [21]:
print(y_pred)

[[432.76953308]
 [457.41440837]
 [462.02307275]
 ...
 [468.9193898 ]
 [441.35683597]
 [461.1246669 ]]

In [22]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9421687659462225