In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("Market_Basket_Optimisation.csv",header=None)

In [3]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
type(data)

pandas.core.frame.DataFrame

In [5]:
transactions=[]#empty list
for i in range(0,7501):#this for loop iterates vertically
    transactions.append([str(data.values[i,j]) for j in range(0,20)])#iterates horizontlly

In [6]:
from apyori import apriori
rules=apriori(transactions=transactions,min_support=0.003,min_length=2,max_length=2)

In [23]:
results=list(rules)

In [24]:
results

[]

In [20]:
def inspect(result):
    lhs         = [tuple(result[2][0][0])[0] for result in result]
    rhs         = [tuple(result[2][0][1])[0] for result in result]
    supports    = [result[1] for result in result]
    return list(zip(lhs, rhs, supports))
resultsinDataFrame = pd.DataFrame(inspect(result), columns = ['prod 1', 'prod 2','Support'])

In [21]:
resultsinDataFrame

Empty DataFrame
Columns: [prod 1, prod 2, Support]
Index: []

In [22]:
resultsinDataFrame.nlargest(n=10,columns='Support')

TypeError: Column 'Support' has dtype object, cannot use method 'nlargest' with this dtype